<table *ngIf="table != null && table.hasLoaded()"
       [dataSource]="table.matDataSource"
       mat-table matSort class="full-width">

  <ng-container *ngFor="let column of getTableColumns()" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef [mat-sort-header]="column"> {{table.getColumnHeader(column)}}</th>
    <td mat-cell *matCellDef="let row" class="{{table.getColumnClasses(column).join(' ')}}">
      <a *ngIf="table.getColumnRoute(row, column) != null"
         [routerLink]="table.getColumnRoute(row,column)">
        {{table.getColumnValue(row, column)}}
      </a>
      <span *ngIf="table.getColumnRoute(row,column) == null">{{table.getColumnValue(row, column)}}</span>
    </td>
  </ng-container>

  <ng-container [matColumnDef]="'action'">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row" class="column-min">
      <ng-container *ngFor="let action of table.getActions()">
        <easy-button *ngIf="action.label != null" (click)="onClickAction(action, row)">{{action.label}}</easy-button>
        <easy-button-icon *ngIf="action.label == null && action.icon != null" (click)="onClickAction(action, row)">
          {{action.icon}}
        </easy-button-icon>
      </ng-container>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="table.getColumns()"></tr>
  <tr mat-row *matRowDef="let row; columns: table.getColumns();"></tr>

</table>

<mat-paginator [pageSizeOptions]="[ 25, 50, 100]">
</mat-paginator>

