@import "colour";

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: $lightGray;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer-container {
  min-height: calc(100% - 64px);
}

.mat-drawer {
  width: 200px;
  padding: 24px;
}

.mat-drawer-content {
  padding: 24px;
}

.page-padding {
  height: 120px;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
}

.easy-field {
  display: block;
  width: 100%;
}

.easy-field .mat-form-field {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

//.easy-title {
//  font-size: 32px;
//  font-weight: bold;
//}

.full-width {
  width: 100%;
}

.column-min {
  width: 1px;
  white-space: nowrap;
}

.mat-column-value span {
  margin-left: 8px;
  margin-right: 8px;
}

.column-number {
  text-align: right;
}

.easy-card-buttons {
  text-align: right;
}

.flex {
  display: flex;
}

.flex-grow {
  flex: 1 1 auto;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-auto {
  flex: 1 1 auto;
}

@media only screen and (min-width: 1024px) {
  .large-flex {
    display: flex;
  }
}

a:link, a:visited, a:hover, a:active {
  color: $primary;
}

.easy-button-row .easy-button {
  margin-right: 8px;
}

.right-align {
  display: flex;
  justify-content: right;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-item .mat-icon {
  margin: 8px;
  color: $primary;
}

.sidenav-minimised {
  width: 84px;
}

.sidenav-minimised .nav-item-link {
  display: none;
}

.nav-item-icon {
  cursor: pointer;
}

.text-right {
  text-align: right;
}


.mat-icon-no-color {
  color: $grey;
}

.auth-page {
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
}

.auth-container {
  display: flex;
  flex: 1 1 auto;
  max-width: 640px;
  margin: auto;
  align-items: stretch;
}

.auth-container .auth-form {
  flex: 1 1 auto;
}

.auth-container .auth-alt {
  min-width: 240px;
}

.auth-container .mat-card {
  height: 100%;
}

.error-card {
  margin: auto;
  max-width: 640px;
  padding: 24px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

// ----------------------------------------------------------------- //
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 8px -8px;
}

.col {
  padding: 8px;
  overflow: auto;
  width: 100%;
}


@media only screen and (min-width: 768px) {
  .row .col-3 {
    width: calc(25% - 16px);
  }
  .row .col-4 {
    width: calc(33.33% - 16px);
  }

  .row .col-6 {
    width: calc(50% - 16px);
  }
  .row .col-8 {
    width: calc(66.66% - 16px);
  }

  .row .col-9 {
    width: calc(75% - 16px);
  }

  .row .col-12 {
    width: calc(100% - 16px);
  }
}
